version: '3.9'
services:
  json-scada-conf-populator:
    build: docker/json-scada-conf-populator
    image: {{ env['user'] }}:{{ env['NAME'] }}-{{ env['AWS_PROFILE'] }}-json-scada-conf-populator
